#contentBanks {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 350px;
    border: 2px solid #eee;
    margin-top: 2em;
}

#bank-list {
    width: 100%;
    padding: 0.5em;
}

.bank {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid #CCC;
    transition: all 0.2s ease-in;
    padding-left: 2em;
}

.bank-img img {
    max-width: 100px;
    margin: 0 auto;
}

.bank:last-child {
    border-bottom: 0;
}

.bank.active {
    background-color: #fb923c;
    color: white;
}