<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="bank_list" class="BridgePayment\Loop\BankLoop" />
        <loop name="payment_link_list" class="BridgePayment\Loop\PaymentLinkLoop" />
        <loop name="payment_transaction_list" class="BridgePayment\Loop\PaymentTransactionLoop" />
    </loops>


    <services>
        <service id="bridgepayment.payment.link.service" alias="BridgePayment\Service\PaymentLink" public="true">
        </service>

        <service id="bridgepayment.bank.service" alias="BridgePayment\Service\BankService" public="true">
        </service>
    </services>

</config>