<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="bank_list" class="BridgePayment\Loop\BankLoop" />
        <loop name="payment_link_list" class="BridgePayment\Loop\PaymentLinkLoop" />
        <loop name="payment_transaction_list" class="BridgePayment\Loop\PaymentTransactionLoop" />
    </loops>

    <forms>
        <form name="bridgepayment_form_bridge_payment_configuration" class="BridgePayment\Form\BridgePaymentConfiguration" />
    </forms>

    <services>
        <service id="bridgepayment.bank.service" alias="BridgePayment\Service\BankService" public="true"/>
        <service id="bridgepayment.payment.link.service" alias="BridgePayment\Service\PaymentLink" public="true"/>
        <service id="bridgepayment.payment.initiation.service" alias="BridgePayment\Service\BridgePaymentInitiation" public="true"/>
        <service id="bridgepayment.payment.configuration.service" alias="BridgePayment\Service\Configuration" public="true"/>
    </services>

    <hooks>
        <hook id="bridgepayment.hook.back" class="BridgePayment\Hook\BackHook">
            <tag name="hook.event_listener" event="module.configuration" type="back" method="onModuleConfiguration" />
            <tag name="hook.event_listener" event="order-edit.payment-module-bottom" type="back" method="onPaymentModuleBottom" />
        </hook>
        <hook id="bridgepayment.hook.front" class="BridgePayment\Hook\FrontHook">
            <tag name="hook.event_listener" event="main.body-bottom" type="front" method="injectCSS" />
            <tag name="hook.event_listener" event="order-delivery.bottom" type="front" method="injectBanks" />
        </hook>
    </hooks>
</config>