{ifloop rel="bank_list"}
{loop type="bank_list" name="bank_list" search=$search order_id=$orderId}
    <div class="col-lg-3">
        <a href="#" class="bank" data-id="{$BANK_ID}">
            <figure>
                <img src="{$BANK_LOGO}">
            </figure>
            <div>
                <div class="text-center">{$BANK_NAME}</div>
            </div>
        </a>
    </div>
{/loop}
{/ifloop}
{elseloop rel="bank_list"}
    <div class="col-lg-12">
        <span class="alert alert-info">{intl l="Aucune banque trouvée."}</span>
    </div>
{/elseloop}