{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Body Class *}
{block name="body-class"}page-order-payment{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
    ['title' => {intl l="Cart"}, 'url'=>{url path="/cart"}],
    ['title' => {intl l="Secure Payment"}, 'url'=>{url path="/order/pay"}]
    ]}
{/block}

{block name="main-content"}
    {default_translation_domain domain="bridgepayment.fo.default"}

<div class="main">
    <article class="col-main clearfix" role="main" aria-labelledby="main-label">

        <h1 id="main-label" class="page-header">{intl l="Secure payment"}</h1>
        {loop type="order" name="placed-order" id=$order_id}
        <div id="payment-success" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{intl l="You choose to pay by"} : <span class="payment-method label label-primary">{loop name="payment-module" type="module" id=$PAYMENT_MODULE}{$TITLE}{/loop}</span></h3>
            </div>

            <div class="panel-body">
                <div class="form-container">
                    <form action="{url path="/bridge/create-payment"}" method="post">
                        <input type="hidden" name="order_id" value="{$order_id}">
                        <label for="bank-select">{intl l="Choose a bank"}</label>
                        <select name="bank" id="bank-select" class="form-control">
                            {foreach $banks as $bank}
                                <option value="{$bank['id']}" >
                                    {$bank['name']}
                                </option>
                            {/foreach}
                        </select>
                        <input type="submit" class="btn btn-success" value="{intl l="Confirm"}">
                    </form>
                </div>
            </div>
        </div>
        {/loop}
    </article>
</div>

{/block}
