{extends file="layout.tpl"}

{* Security *}
{block name="no-return-functions" prepend}
    {check_auth role="CUSTOMER" login_tpl="login"}
{/block}

{* Body Class *}
{block name="body-class"}page-order-payment{/block}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [
    ['title' => {intl l="Cart"}, 'url'=>{url path="/cart"}],
    ['title' => {intl l="Secure Payment"}, 'url'=>{url path="/order/pay"}]
    ]}
{/block}

{block name="main-content"}
    {$bank_page=1}
    {$current_page = $bank_page}
    {default_translation_domain domain="bridgepayment.fo.default"}
    <div class="main">
        <article class="col-main clearfix" role="main" aria-labelledby="main-label">

            <h1 id="main-label" class="page-header">{intl l="Your Cart"}</h1>

            {include file="misc/checkout-progress.tpl" step="last"}

            <div id="payment-failure" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {loop type="order" name="bridge-payment-order" id=$order_id}
                        {intl l="You choose to pay by"} :
                            <span class="payment-method label label-primary">{loop name="payment-module" type="module" code="BridgePayment"}{$TITLE}{/loop}</span>
                        {/loop}
                        {elseloop rel="bridge-payment-order"}
                        {intl l="Your order payment"}
                        {/elseloop}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 control-input">
                            <h4>{intl l="Thank you for the trust you place in us."}</h4>
                            <div class="mb-4">
                                <p>{intl l="Select your bank to process."}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 control-input">
                            <input type="text" class="form-control" placeholder="{intl l='Search banks'}"
                                   id="search_bank" name="search_bank" value="">
                        </div>
                    </div>
                    <div class="row" id="contentBanks" style="display:flex;flex-wrap:wrap;margin-top: 20px;">
                        {loop type="bank_list" name="bank_list" limit=12}
                            <div class="col-lg-3">
                                <a href="#" class="bank">
                                    <figure>
                                        <img src="{$BANK_LOGO}">
                                    </figure>
                                    <div>
                                        <div class="text-center">{$BANK_NAME}</div>
                                    </div>
                                </a>
                            </div>
                        {/loop}
                    </div>
                    <form id="payment_request_form" action="{url path="/bridge/create-payment"}" method="post">
                        <fieldset class="my-8">
                            <input type="hidden" name="order_id" value="{$orderId}">
                            <input type="hidden" id="bank_id" name="bank_id" value="">
                        </fieldset>
                    </form>
                </div>
            </div>

            <a href="{url path="/order/invoice"}" role="button" class="btn btn-primary">{intl l="Cancel"}</a>
            <a href="{navigate to="index"}" role="button" class="btn btn-default">{intl l="Go home"}</a>
        </article>
    </div>
{/block}

{block name="javascript-initialization"}
    {strip}
        <script type="text/javascript">
            function setupListeners() {
                document.querySelectorAll(".bank").forEach(bank =>
                    bank.addEventListener("click", function (ev) {
                        ev.preventDefault();
                        const inputBankId = document.getElementById('bank_id');
                        const form = document.getElementById('payment_request_form');
                        inputBankId.value = this.dataset.id;
                        form.submit();
                    }));
            }

            document.getElementById('payment_request_form').addEventListener("click", function (ev) {
                ev.preventDefault();
                const inputBankId = document.getElementById('bank_id');
                const form = document.getElementById('payment_request_form');
                inputBankId.value = this.dataset.id;
                form.submit();
            });

            const inputSearch = document.getElementById("search_bank");
            const contentBanks = document.getElementById("contentBanks");

            inputSearch.addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();

                    var searchWord = this.value;

                    !async function () {
                        contentBanks.innerHTML = await fetch("/bridge/bank/search/{$orderId}?search="+searchWord, {
                            method: "GET"
                        })
                            .then((response) => response.text())
                            .then((result) => {
                                return result;
                            })
                            .catch((error) => {
                                console.log(error)
                            });
                    }();

                    setupListeners();
                }
            });

            setupListeners();
        </script>
    {/strip}
{/block}